STRINGS=The string is a sequence of characters enclosed in quotes.It can include letters,symbols,and even spaces.

In [ ]:
#EXAMPLe
print("Ram Krishna Shankar and Shekhar")
print("5"+"6"+"9")
print(8+7+6-5-4)

Ram Krishna Shankar and Shekhar
569
12

PRINT STATEMENT= The print()statement(actually a function)is  used in python to display output on the scree.

**feauters **   
print(**Function**)=1) A function in python.
                    2) Used to **display** **output** on the screen.
                    3) Outputing values,messages,variables.
                    4)print("Hello")-display Hello.
                    5) None(does not return a value)
                    6)Not applicable(print is not a value)

string(**data type**)=1)A **data type**(sequence of characters) .
                      2)Used to **store text**(like words or sentences).
                      3)Storing and working with text.
                      4) name="Vinayak'-stores the name.
                      5)Returns the string object itself.
                      6)Strings are immutable.

TYPE OF PRINT STATMENT

 -Print statement 01-basics
- Print statement 02-using variables
-Print statement 03-using F string
-print statement 04- using .format

Print statement 01=basic *italicized text*

In [ ]:
print("Vinayak Prasad Mukkananthu")

Vinayak Prasad Mukkananthu

In [ ]:
print("History tells us ,that powerful people make places powerful.But history was  wrong powerful people make places powerful")

History tells us ,that powerful people make places powerful.But history was  wrong powerful people make places powerful

In [ ]:
print("2"+"3"+"4")

234

In [ ]:
print(2+3+4)

9

PRINT STATEMENT -02 USING VARIABLE

In [ ]:
ABC="bade bade diware banate hain daar ka majese isiliya nahi ki koi andar se bahar nikale thaki bahar se koi andaar na aajye"

In [ ]:
print(ABC)

bade bade diware banate hain daar ka majese isiliya nahi ki koi andar se bahar nikale thaki bahar se koi andaar na aajye

In [ ]:
ghjre=2+6+9+4

In [ ]:
print(ghjre)

21

In [ ]:
eryto=(9+6+8) * (3-5-8)
print(eryto)

-230

In [ ]:
tuple="shaitaaan tu meri jaan hain"
titu="tu meri jaan hain main tera yaar hu"
print(tuple)
print(titu)

shaitaaan tu meri jaan hain
tu meri jaan hain main tera yaar hu

In [ ]:
DIN = "jab thak tum mere saath ho mujhe kuch nahi ho sakta"
print("mere yaaar se kehena ki mujhe kuch nahi hu hain",DIN )

mere yaaar se kehena ki mujhe kuch nahi hu hain jab thak tum mere saath ho mujhe kuch nahi ho sakta

In [ ]:
name="ragupathi raghAV RAJA RAM"
AGE="MAR MAR KAR HADI THOD GO"
profession="kat kat kar kutto ko kil dena "
print(name)
print(AGE)
print(profession)

ragupathi raghAV RAJA RAM
MAR MAR KAR HADI THOD GO
kat kat kar kutto ko kil dena

PRINT STATEMENT 04=USING F STRING

**STRING**=An F string (short for formatted string literal)is a way to embed variables or expressions inside a string **using curly braces{}.**

In [ ]:
RRR="RISE, REVOLT AND ROAR"
print(f"The movie is {RRR}")

The movie is RISE, REVOLT AND ROAR

In [ ]:
vvv="jai parvathy padhe hara hara mahadev"
yyy="jai bhavani jai shivaji"
aaa="har har mahadev"
print(f"CHHAVVA{vvv}")
print(f"TANHAJI{yyy}")
print(f"lord shivaji{aaa}")

CHHAVVAjai parvathy padhe hara hara mahadev
TANHAJIjai bhavani jai shivaji
lord shivajihar har mahadev

In [ ]:
country="america"
royal= "cochin raja "
print(f"dil dil daar{country}")
print(f"royal{royal}")

dil dil daaramerica
royalcochin raja

In [ ]:
rrr= "dil dil bar dil dil bar bar"
fff= "hila hila de hila de nachoniya"
uuu=" tu tu tu meri ri ri mein tera ho ne lega"
print(f"this movie{rrr}")
print(f"this song{fff}")
print(f"bang bang{uuu}")

this moviedil dil bar dil dil bar bar
this songhila hila de hila de nachoniya
bang bang tu tu tu meri ri ri mein tera ho ne lega

In [ ]:

NUMBER1= 33333
NUMBER2= 77777
RESULT=NUMBER1+NUMBER2
print(f"The result is {RESULT}")

The result is 111110

In [ ]:
a=11111
b=55555
addition=a+b
subtraction=a-b
multiplication=a*b
division=a/b
print(f"The addition is {addition}")
print(f"The subtraction is {subtraction}")
print(f"The multiplication is {multiplication}")
print(f"The division is {division}")

The addition is 66666
The subtraction is -44444
The multiplication is 617271605
The division is 0.2

**PRINT STATEMENT **04** USING .FORMAT

**.Format=**=The .format() method is used to insert values into a string using **placeholder**{}.It is an older but still useful way to do string formatting.

In [ ]:

name="vinayak prasad mukkananthu"
ClassDef = "third year bcom"
city="thrissur,kerala"
print("my name is {}.I am {}.I live in {}".format(name,ClassDef,city))

my name is vinayak prasad mukkananthu.I am third year bcom.I live in thrissur,kerala

In [ ]:
a="raj kaha ja rehe ho tum"
b="bas thoda tehal ne"
g="mujhe se shaadi karogi"
print("he rook jai {}.kaha chali {}.shaadi kyu {}".format(a,b,g))

he rook jai raj kaha ja rehe ho tum.kaha chali bas thoda tehal ne.shaadi kyu mujhe se shaadi karogi

**COMMENT**-A comment is a line in your code that python **ignores when running** the program.It's used to explain your code'make notes'or temporarily disable code.

In [ ]:
# single  line comment= In python starts with the # symbol.Python ignores everything after # on that line. It's used to write short explanation'
# example
# jai shree ram jai shree ram jai shree ram raja ram jai shree ram jai shree ram jai shree ram raja ram.

In [ ]:
# two type of multiple line comment
# first use # on each line
# second use triple quotes(''' or """")

# example

# jai raja ram
# ghayal isiliya ghatak hu
# pakistan ka baap india hai

In [ ]:
"""
hjdvfjkfdvjhdfv
dfvjhfvjkvkjdfvjkh
fvshjkfvijvuikjrtb
vgkgfbiubngfb,mjgb
fgbiuorekgblb,mk
"""

'''
sdfvbjv kf jkgfbklgfb
gfkjgfbkjgbfkjgbjjgb
rejkjldfgbklgbkjrh
kjlgbkmkllkhnlkhnlk
'''

'\nsdfvbjv kf jkgfbklgfb\ngfkjgfbkjgbfkjgbjjgb\nrejkjldfgbklgbkjrh\nkjlgbkmkllkhnlkhnlk\n'

INPUT FUNCTION=The input() function is used to **take input from the user** during program execution.It pauses the program,waits for the user to type something,and **returns the input as a string.**

In [ ]:
name=input("enter my name")

enter my name vinayak prasad

In [ ]:
name

' vinayak prasad'

In [ ]:
DDDD=input("this  is my world madar chod")

this  is my world madar chod tu kon hain bosedike

TYPE CASTING

-The type casting means converting one data type into another data type -likr turning an integer into a string, a float into an integer etc.

In [ ]:
RRR=int(input("this is my kingdom"))
TTT=int(input("this is my tribe"))
rtrtrt=RRR+TTT

this is my kingdom7890
this is my tribe9087

In [ ]:
rtrtrt

16977

In [ ]:
type(rtrtrt)

int

# TEMPERATURE

A temperature converter is a tool or program that helps you **change the temperature value from one unit to another**. It  converts between **celsius**,
**fahrenheit**,**and** **kelvin**.


F=(C*9/5)+32

In [ ]:
GGG=int(input("enter the temperature in celsius:"))
print("the temperature in fahrenheit is:",(GGG*9/5)+32)

enter the temperature in celsius:5555
the temperature in fahrenheit is: 10031.0

In [ ]:
YYY=int(input("enter the temperature in celsius:"))
print(f"the temperature in fahrenheit is:{YYY*9/5+32}")

enter the temperature in celsius:5689
the temperature in fahrenheit is:10272.2

In [ ]:
OOO=int(input("enter the temperature in celsius:"))
print("the temperature in fahrenheit is:{}".format((OOO*9/5)+32))

enter the temperature in celsius:8532157
the temperature in fahrenheit is:15357914.6

# BMI stand body mass index

It is **simple number** used to check if a person has a **healthy body weight** for their **height**.

BMI=Weight(kg)/Height(m)2

In [ ]:
KKKK=float(input("enter your weight in kg:"))
LLLLL=float(input("enter your height in m:"))
BMI=KKKK/LLLLL*2
print(BMI)

enter your weight in kg:7895.000
enter your height in m:8750.000
1.8045714285714285

In [ ]:
YYYY=float(input("enter your weight in kg:"))
LLLL=float(input("enter your height in m:"))
BMI=YYYY/LLLL*2
print(f"your BMI is:{BMI}")

enter your weight in kg:5678.999
enter your height in m:45638.9999
your BMI is:0.24886605808380124

In [ ]:
IIII=float(input("enter your weight in kg:"))
LLLL=float(input("enter your height in m:"))
BMI=IIII/LLLL*2
print("your BMI is:{}".format(BMI))

enter your weight in kg:6758.00099
enter your height in m:5647.9999
your BMI is:2.3930598830215986

AREA OF CIRCLE=The **area  of a circle** is the **space inside the boundary** of the circle.It tells you **how much surface** the circle covers.
=3.14(r**2)

In [ ]:
WWWW=int(input("enter the radius of circle:"))
print("the area of circle is:",3.14*WWWW**2)

enter the radius of circle:55555
the area of circle is: 9691164198.5

In [ ]:
EEEE=int(input("enter the radius of circle:"))
print(f"the area of circle is:{3.14*EEEE**2}")

enter the radius of circle:44444
the area of circle is:6202345087.04

In [ ]:
QQQQ=int(input("enter the radius of circle:"))
print("the area of circle is:{}".format(3.14*QQQQ**2))

enter the radius of circle:777777
the area of circle is:1899502373829.06

**AGE** **IN** **DAYS**

**Age** **in** **days** means the **total number of days** a person has lived since their **birth**.

In [ ]:
age=int(input("enter your age:"))
print("your age in days is:",age*365)

enter your age:20
your age in days is: 7300

In [ ]:
age=int(input("enter your age:"))
print(f"your age in days is:{age*365}")

enter your age:25
your age in days is:9125

In [ ]:
age=int(input("enter your age:"))
print("your age in days is:{}".format(age*365))

enter your age:30
your age in days is:10950

# VARIABLE = A variable is like a container or name that stores data so you can use it later in your programm.

In [ ]:
EEe="IF YOU THINK YOU ARE BAD, I AM YOUR DAD"

In [ ]:
EEe

'IF YOU THINK YOU ARE BAD, I AM YOUR DAD'

## RULES FOR VARIABLE NAMES  



 - Use only letters,numbers,and underscores.
 -Cannot be a python keywords.
 - Case senstive
 -Use meaningful names(Good practice,not a strict rule)
-Start with a letter or underscore.

In [ ]:
ttttt="shaitaan hoon shaitaan tere baap ka shaitaaaaan"

In [ ]:
print(id(ttttt))

134112303346480

In [ ]:
ttttt

'shaitaan hoon shaitaan tere baap ka shaitaaaaan'

# KEYWORDS


**Keywords** are **reserved** **words** in python.They have a **special** **meeting** and **cannot be used **as variable names.

Keywords define the **structure** and **syntax** of python code.
They are used for things like **control** **flow,function  definition, loops **etc.

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# TYPE FUNCTION

The type()function is a **built in python**  **funcction** that tells you the **data** **type** of a value or variable.


**why** **use** tyoe()?
to check if a value is:

- a string(str)
-an integer(int)
-a floating-point number(float)
- a lists,tuple,dictionary,etc.

string **function**

In [ ]:
gggg="mujhe koi hara nahi saktha"

In [ ]:
type(gggg)

str

**integer function**

In [ ]:
tttt=78964

In [ ]:
type(tttt)

int

**float function**

In [ ]:
kkkk=679.986

In [ ]:
type(kkkk)

float

# List function

-A **list** is an **ordered,changeable**(mutable)collection.
-Can hold **multiple** **values** of different data types.
-You can  **add,remove and change elements.**

In [ ]:
fruits=["apple","banana","cherry"]
print(fruits[0])
fruits.append("mango")
print(fruits)

apple
['apple', 'banana', 'cherry', 'mango']

In [ ]:
my__list=[10,30, "garaj", "truth"]

In [ ]:
chicken=["koyi","mutton","fish"]
chicken.append("chicken")
print(chicken)

['koyi', 'mutton', 'fish', 'chicken']

# tuple function


-A tuple is like a list but it is unchangeable(immutable).
- Ordered,but **cannot be modified** after creation

In [ ]:
my_tuple=(1,"2","narayana")

In [ ]:
colour=("red","green","blue")
print(colour[2])
# colour.append("black") will not occur.

blue

# dictionary function

-A dictionary stores data in key-value pairs.   


-It is unordered(in olden Python version),changeable, and indexed by leys(not numbers).

In [ ]:
my_dictionary={"name":"vinayak","age":20}
print(my_dictionary["name"])
my_dictionary["age"]=22
print(my_dictionary)

vinayak
{'name': 'vinayak', 'age': 22}

PYTHON OPERATOR

-Operators are symbols or words that perform operations on variables or values-like adding numbers,comparing values or checking conditions.

# type of operator


-Arithmetic operators
-Relational operators
-Assignment operators
-Logical operators
-Membership operators
-Identity opearators
-bitwise operators

-

## Arthmetic operators

-Arthmetic operators are used to do basic math operations like addition,subtraction,multiplication, etc.

In [ ]:
a=5
b=5
addition=a+b
subtraction=a-b
multiplication=a*b
division=a/b
print(addition)
print(subtraction)
print(multiplication)
print(division)

10
0
25
1.0

relational operators are also called as comparison operators .It's used to compare two values.

true, if the comparison is correct.
false, if the comparison is not correct.






== equal to.
!= not equal to.
>  greater than
<  less than
>= greater than or equal to
<= less than or equal to

In [ ]:
a=90
b=78
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

# Assignment operators

-Assignment operators are used to assign values to variables.
-They can also combine assignment with arithmetic(like +='*=)

= assign value.
+= add and assign
-=  subtract and assign
  *=  multiply and assign
/=  divide and assign
//= floor divide and assign
%=  modulus and assign
**= exponent and asssign

In [ ]:
a=100
a+=10
print(a)

110

In [ ]:
a=100
a-=25
print(a)

75

In [ ]:
a=100
a*=5
print(a)

500

In [ ]:
a=100
a/=56
print(a)

1.7857142857142858

In [ ]:
a=100
a//=25
print(a)

4

In [ ]:
a=100
a%=67
print(a)

33

In [ ]:
a=100
a**=78
print(a)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

# Logical operators

**Logical operators** are used to **combine** multiple conditions and return either **True or False** .
They are most often used with **if statement or comparison**.


# operators       -      meaning           
and               - True if both conditions are true.
or                - True if at least onr condition is true.
not               -   reverse the result .

In [ ]:
ttt=56
ppp=89
print(ttt>89 and ppp<56)
print(ttt>89 or ppp<56)
print(not(ttt>89 and ppp<56))

False
False
True

# **membership** **operators**


 **membership** **operator**  are used to **check if a value exists inside a sequence like **a **list,string,tuple,or dictionary.**


type of membership operators
in- trueif value is **present**.
not in-true if value is **not present**.


in-true if value is present
not in- trueif value is not prsent

# Identity operators

 **Identity** **operators** are used to **compare**  **the** **memory** **locations** of two objects-i.e.. whether they are actually the **same object(not just equal on value)**


 - is =true if both refer to the same object.
 -is not=true if the refer to different object.

# BITWISE OPERATORS

**Bitwise operators** are used to perform operation on the **binary representation of integers.**



AND=bitwise AND &.
OR=bitwise OR `.
XOR=bitwise XOR ^.
NOT=bitwise NOT ~.